@model List<TeamModel>

<h1>Your Teams:</h1>

<div class="container mt-4">
    <h2 class="text-white">Your Teams</h2>
    <div class="row">
        @foreach (var team in @Model)
        {
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card shadow-sm bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">@team.Name</h5>
                        <p class="card-text">Created: @team.CreatedDate.ToString("dd MMM yyyy")</p>
                        <p class="card-text">Members: @team.Users.Count</p>

                        <form id="teamId" method="get" action="Index">
                            <input type="hidden" name="teamId" value="@team.ID" />
                            <button type="submit" class="btn btn-warning w-100">More</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>